variables:
  SCRIPT:
    value: "base"
    description: "Select which Ansible playbook to run."
    options:
      - "base"

stages:
  - script

ansible-base:
  stage: script
  variables:
    DEBIAN_FRONTEND: noninteractive
  image:
    name: registry.durp.info/ubuntu:latest
  before_script:
    - apt update && apt install tzdata ansible python3-pip -y
  script:
    - ansible-playbook $CI_PROJECT_DIR/ansible/base.yml
  rules:
    - if: '$SCRIPT == "base"'
