spec:
  inputs:
    SCRIPT:
      description: "Select which Ansible playbook to run."
      options:
        - ''
        - 'base'
        - 'k3s-dev'
      default: ''
      type: string

---
variables:
  SCRIPT: $[[ inputs.SCRIPT ]]
  ANSIBLE_CONFIG: "$CI_PROJECT_DIR/ansible.cfg"

stages:
  - script

.ansible:
  stage: script
  variables:
    DEBIAN_FRONTEND: noninteractive
  image:
    name: registry.durp.info/ubuntu:latest
  before_script:
    - apt update && apt install tzdata ansible python3-pip -y
    - eval $(ssh-agent -s)
    - chmod 400 "$SSH_PRIVATE_KEY"
    - ssh-add "$SSH_PRIVATE_KEY"

.ansible-k3s:
  extends: .ansible
  script:
    - ansible-galaxy install -r $CI_PROJECT_DIR/ansible/roles/k3s/requirements.yaml
    - ansible-playbook $CI_PROJECT_DIR/ansible/k3s.yaml -e cluster=$CLUSTER

ansible-base:
  extends: .ansible
  script:
    - ansible-playbook $CI_PROJECT_DIR/ansible/base.yaml
  rules:
    - if: '$SCRIPT == "base"'

ansible-k3s-dev:
  extends: .ansible-k3s
  variables:
    CLUSTER: "dev-cluster"
  rules:
    - if: '$SCRIPT == "k3s-dev"'
